{% extends "page.twig" %}

{% block content %}
	<div class="content-wrapper">
        {{ slider }}
        <hr>
        {{ idea }}
        <hr>
        {{ logistic }}
        <hr>
        {{ harmonogram }}
        <hr>
        {{ coachs }}
        <hr>
        {{ singups|wpautop }}
        <hr>
        {{ contact }}
	</div>
{% endblock %}