{{ function('do_action', 'tribe_events_before_html') }}

{{ function('do_action', 'tribe_the_notices') }}
<div >  
    <p class="tribe-events-back">
        <a class="" href="{{ eventLink }}"> 
            {{ eventLabel }}
        </a>
    </p>
</div>
<div class="content-wrapper jumbotron pt-1 flex justify-center">

    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        {% if post.thumbnail %}
            <div class="relative bg-bottom bg-fixed bg-cover h-64" style="background-image: url({{ post.thumbnail.src('full') }})"></div>		
        {% endif %}
        
        <div class="flex flex-col md:flex-row justify-center text-center">
            <span class="m-2 block sm:inline-block p-1 bg-green-200 shadow-xl rounded-md max font-semibold">{{ post.custom._EventStartDate|date() }}</span>
            <span class="m-2 block sm:inline-block p-1 bg-green-300 shadow-xl rounded-md font-semibold">{{ post.custom._EventEndDate|date() }}</span>
            
            {% set cost = function('tribe_get_cost', null, true) %}
            {% if cost %}
                <span class="m-2 shadow-xl rounded-md font-semibold p-1 bg-green-400">{{ function('tribe_get_cost', null, true) }}</span>
            {% endif %}

            {% for tag in post.tags %}
                <span class="m-2 shadow-xl rounded-md font-semibold p-1 bg-teal-200">{{ tag }}</span>
            {% endfor %}
        </div>
        
        <h1 class="text-4xl text-center">{{post.title}}</h1>
        <section class="article-content">
            <div class="article-body container mx-auto mb-20">
                {{post.content|wpautop}}
                <div class="mx-auto flex justify-center m-3">
                    {{ function('do_action', 'studium_nvc_after_content_with_event', post) }}
                </div>

                {{ logistic }}
            </div>        

            {{ function('do_action', 'tribe_events_single_event_after_the_content') }}
            {{ function('do_action', 'tribe_events_single_event_before_the_meta') }}
            {{ function('tribe_get_template_part', 'modules/meta') }}
            {{ function('do_action', 'tribe_events_single_event_after_the_meta') }}
        </section>
    </article>

</div>
{{ function('do_action' ,'tribe_events_after_html') }}